// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 Jisheng Zhang <jszhang@kernel.org>
 * Copyright (C) 2023 Drew Fustini <dfustini@baylibre.com>
 */

/dts-v1/;

#include "th1520.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "BeagleV Ahead";
	compatible = "beagle,beaglev-ahead", "thead,th1520";

	aliases {
		ethernet0 = &gmac0;
		gpio0 = &gpio0;
		gpio1 = &gpio1;
		gpio2 = &gpio2;
		gpio3 = &gpio3;
		gpio4 = &gpio4;
		gpio5 = &aogpio;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uart5;
		spi0 = &spi0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x00000000 0x1 0x00000000>;
	};

	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins>;
		compatible = "gpio-leds";

		led-1 {
			gpios = <&gpio4 8 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_BLUE>;
			label = "led1";
		};

		led-2 {
			gpios = <&gpio4 9 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_BLUE>;
			label = "led2";
		};

		led-3 {
			gpios = <&gpio4 10 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_BLUE>;
			label = "led3";
		};

		led-4 {
			gpios = <&gpio4 11 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_BLUE>;
			label = "led4";
		};

		led-5 {
			gpios = <&gpio4 12 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_BLUE>;
			label = "led5";
		};
	};
};

&osc {
	clock-frequency = <24000000>;
};

&osc_32k {
	clock-frequency = <32768>;
};

&dmac0 {
	status = "okay";
};

&emmc {
	bus-width = <8>;
	max-frequency = <198000000>;
	mmc-hs400-1_8v;
	non-removable;
	no-sdio;
	no-sd;
	status = "okay";
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_pins>;
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&mdio0 {
	phy0: ethernet-phy@1 {
		reg = <1>;
		interrupt-parent = <&gpio3>;
		interrupts = <22 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio3 21 GPIO_ACTIVE_LOW>;
		reset-delay-us = <10000>;
		reset-post-delay-us = <50000>;
	};
};

&padctrl_aosys {
	led_pins: led-0 {
		led-pins {
			pins = "AUDIO_PA8",  /* GPIO4_8 */
				   "AUDIO_PA9",  /* GPIO4_9 */
				   "AUDIO_PA10", /* GPIO4_10 */
				   "AUDIO_PA11", /* GPIO4_11 */
				   "AUDIO_PA12"; /* GPIO4_12 */
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	mikrobus_rst_pins: mikrobus-rst-0 {
		rst-pins {
			pins = "AUDIO_PA3"; /* GPIO4_3 */
			function = "gpio";
			bias-disable;
			drive-strength = <3>;
			output-high;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};
};

&padctrl0_apsys {
	i2c2_pins: i2c2-0 {
		i2c-pins {
			pins = "I2C2_SDA",
				   "I2C2_SCL";
			function = "i2c";
			bias-pull-up = <48000>;
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	gmac0_pins: gmac0-0 {
		tx-pins {
			pins = "GMAC0_TX_CLK",
				   "GMAC0_TXEN",
				   "GMAC0_TXD0",
				   "GMAC0_TXD1",
				   "GMAC0_TXD2",
				   "GMAC0_TXD3";
			function = "gmac0";
			bias-disable;
			drive-strength = <25>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "GMAC0_RX_CLK",
				   "GMAC0_RXDV",
				   "GMAC0_RXD0",
				   "GMAC0_RXD1",
				   "GMAC0_RXD2",
				   "GMAC0_RXD3";
			function = "gmac0";
			bias-disable;
			drive-strength = <1>;
			input-enable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		mdc-pins {
			pins = "GMAC0_MDC";
			function = "gmac0";
			bias-disable;
			drive-strength = <13>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		mdio-pins {
			pins = "GMAC0_MDIO";
			function = "gmac0";
			bias-disable;
			drive-strength = <13>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};

		phy-reset-pins {
			pins = "GMAC0_COL"; /* GPIO3_21 */
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		phy-interrupt-pins {
			pins = "GMAC0_CRS"; /* GPIO3_22 */
			function = "gpio";
			bias-pull-up;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	mikrobus_gpio_pins: mikrobus-gpio-0 {
		pwm-pins {
			pins = "QSPI0_SSN1"; /* PWM2 */
			function = "gpio";
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		int-pins {
			pins = "GPIO2_21";
			function = "gpio";
			bias-pull-up;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	mikrobus_spi_pins: spi0-0 {
		spi-pins {
			pins = "SPI_SCLK",
				   "SPI_MISO",
				   "SPI_MOSI";
			function = "spi";
			bias-disable;
			drive-strength = <7>;
			input-enable; /* For MISO */
			input-schmitt-enable;
			slew-rate = <0>;
		};

		cs-pins {
			pins = "GPIO2_20"; /* CS pin */
			function = "gpio";
			bias-disable;
			drive-strength = <7>;
			output-high; /* CS is active low, so default high */
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	uart0_pins: uart0-0 {
		tx-pins {
			pins = "UART0_TXD";
			function = "uart";
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "UART0_RXD";
			function = "uart";
			bias-pull-up;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	wifi_pins: wifi-pins {
		wifi-host-wake {
			pins = "SDIO1_DETN";
			bias-pull-up;
			input-enable;
		};

		wifi-reset {
			pins = "GPIO2_31";
			bias-pull-up;
			drive-strength = <8>;
			output-high;
		};
	};
};

&sdio0 {
	bus-width = <4>;
	max-frequency = <198000000>;
	status = "okay";
};

&padctrl1_apsys {
	i2c0_pins: i2c0-0 {
		i2c-pins {
			pins = "I2C0_SDA",
				   "I2C0_SCL";
			function = "i2c";
			bias-pull-up = <48000>;
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	mikrobus_i2c_pins: i2c4-0 {
		i2c-pins {
			pins = "GPIO0_19", /* I2C4_SDA */
				   "GPIO0_18"; /* I2C4_SCL */
			function = "i2c";
			bias-pull-up = <48000>;
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	i2c5_pins: i2c5-0 {
		i2c-pins {
			pins = "QSPI1_D0_MOSI", /* I2C5_SDA */
				   "QSPI1_CSN0";    /* I2C5_SCL */
			function = "i2c";
			bias-pull-up = <48000>;
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	mikrobus_uart_pins: uart3-0 {
		tx-pins {
			pins = "CHIP_DBG_TXD"; /* UART3_TXD */
			function = "uart";
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "CHIP_DBG_RXD"; /* UART3_RXD */
			function = "uart";
			bias-pull-up;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};
};

&sdio1 {
	bus-width = <4>;
	max-frequency = <198000000>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&wifi_pins>;

	#address-cells = <1>;
	#size-cells = <0>;

	brcmf: wifi@1 {
		status = "okay";
		compatible = "brcm,bcm43456-fmac", "brcm,bcm4329-fmac";
		reg = <1>;
		interrupt-parent = <&gpio2>;
		interrupts = <29 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "host-wake";
		reset-gpios = <&gpio2 31 GPIO_ACTIVE_LOW>;
		brcm,ccode-map = "JP-JP-78", "US-Q2-86";
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&mikrobus_uart_pins>;
	status = "okay";
};

&i2c0 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;
	status = "okay";
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&mikrobus_i2c_pins>;
	status = "okay";
};

&i2c5 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5_pins>;
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mikrobus_spi_pins>;
	status = "okay";
};
