// SPDX-License-Identifier: GPL-2.0-only
/*
 * AM33xx L4 Interconnect device tree
 * Partial excerpt showing timer1_target-module configuration
 */

&l4_wkup {
	/* ... other nodes ... */

	timer1_target: target-module@31000 {	/* 0x44e31000, ap 25 40.0 */
		compatible = "ti,sysc-omap2-timer", "ti,sysc";
		status = "okay";
		reg = <0x31000 0x4>,
		      <0x31010 0x4>,
		      <0x31014 0x4>;
		reg-names = "rev", "sysc", "syss";
		ti,sysc-mask = <(SYSC_OMAP2_CLOCKACTIVITY |
				 SYSC_OMAP2_SOFTRESET |
				 SYSC_OMAP2_AUTOIDLE)>;
		ti,sysc-sidle = <SYSC_IDLE_FORCE>,
				<SYSC_IDLE_NO>,
				<SYSC_IDLE_SMART>;
		ti,syss-mask = <1>;
		/* Domains (P, C): wkup_pwrdm, l4_wkup_clkdm */
		clocks = <&l4_wkup_clkctrl AM3_L4_WKUP_TIMER1_CLKCTRL 0>;
		clock-names = "fck";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x0 0x31000 0x1000>;

		timer1: timer@0 {
			compatible = "ti,am335x-timer-1ms";
			reg = <0x0 0x400>;
			interrupts = <67>;
			ti,timer-alwon;
			clocks = <&timer1_fck>;
			clock-names = "fck";
		};
	};
};
