// SPDX-License-Identifier: GPL-2.0
/*
 * https://beagleplay.org/
 *
 * Copyright (C) 2022-2023 Texas Instruments Incorporated - https://www.ti.com/
 * Copyright (C) 2022-2023 Robert Nelson, BeagleBoard.org Foundation
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "k3-am625.dtsi"


/ {
	compatible = "sancloud,am625-sancloud", "ti,am625";
	model = "SanCloud.org SanCloudAM62";

	aliases {
		ethernet0 = &cpsw_port1;
		gpio0 = &main_gpio0;
		gpio1 = &main_gpio1;
		gpio2 = &mcu_gpio0;
		i2c0 = &main_i2c0;
		i2c1 = &main_i2c1;
		i2c2 = &main_i2c2;
		i2c3 = &main_i2c3;
		// i2c4 = &wkup_i2c0;
		// i2c5 = &mcu_i2c0;
		mdio-gpio0 = &mdio0;
		mmc0 = &sdhci0;
		mmc1 = &sdhci1;
		mmc2 = &sdhci2;
		rtc1 = &wkup_rtc0;
		serial0 = &wkup_uart0;
		serial1 = &mcu_uart0;
		serial2 = &main_uart0;
		serial3 = &main_uart5;
		serial4 = &main_uart6;
		//spi0 = &spi_gpio;
		//spi1 = &main_spi0;
		//spi2 = &main_spi2;
		usb0 = &usb0;
		usb1 = &usb1;
	};

	chosen {
		stdout-path = "serial2:115200n8";
		base_dtb = "k3-am625-sancloud.dts";
		base_dtb_timestamp = __TIMESTAMP__;
	};

	memory@80000000 {
		bootph-pre-ram;
		device_type = "memory";
		/* 2G RAM */
		reg = <0x00000000 0x80000000 0x00000000 0x80000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		rtos_ipc_memory_region: ipc-memories@9c800000 {
			compatible = "shared-dma-pool";
			reg = <0x00 0x9c800000 0x00 0x00300000>;
			no-map;
		};

		mcu_m4fss_dma_memory_region: m4f-dma-memory@9cb00000 {
			compatible = "shared-dma-pool";
			reg = <0x00 0x9cb00000 0x00 0x100000>;
			no-map;
		};

		mcu_m4fss_memory_region: m4f-memory@9cc00000 {
			compatible = "shared-dma-pool";
			reg = <0x00 0x9cc00000 0x00 0xe00000>;
			no-map;
		};

		wkup_r5fss0_core0_dma_memory_region: r5f-dma-memory@9da00000 {
			compatible = "shared-dma-pool";
			reg = <0x00 0x9da00000 0x00 0x00100000>;
			no-map;
		};

		wkup_r5fss0_core0_memory_region: r5f-memory@9db00000 {
			compatible = "shared-dma-pool";
			reg = <0x00 0x9db00000 0x00 0x00c00000>;
			no-map;
		};

		lpm_ctx_ddr: lpm-memory@9e700000 {
			reg = <0x00 0x9e700000 0x00 0x80000>;
			alignment = <0x1000>;
		};

		secure_tfa_ddr: tfa@9e780000 {
			reg = <0x00 0x9e780000 0x00 0x80000>;
			alignment = <0x1000>;
			no-map;
		};

		secure_ddr: optee@9e800000 {
			reg = <0x00 0x9e800000 0x00 0x01800000>; /* for OP-TEE */
			alignment = <0x1000>;
			no-map;
		};
	};

	vsys_5v0: regulator-1 {
		bootph-all;
		compatible = "regulator-fixed";
		regulator-name = "vsys_5v0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_3v3: regulator-2 {
		/* output of TLV62595DMQR-U12 */
		bootph-all;
		compatible = "regulator-fixed";
		regulator-name = "vdd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vsys_5v0>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_3v3_sd: regulator-4 {
		bootph-all;
		compatible = "regulator-fixed";
		regulator-name = "vdd_3v3_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		vin-supply = <&vdd_3v3>;
	};

	vdd_sd_dv: regulator-5 {
		bootph-all;
		compatible = "regulator-gpio";
		regulator-name = "sd_hs200_switch";
		pinctrl-names = "default";
		pinctrl-0 = <&vdd_sd_dv_pins_default>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		vin-supply = <&vdd_3v3>;
		gpios = <&main_gpio1 49 GPIO_ACTIVE_HIGH>;
		states = <1800000 0x0>,
			 <3300000 0x1>;
	};

	mdio0: bitbang-mdio {
		compatible = "virtual,mdio-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&mdio0_pins_default>;
		gpios = <&main_gpio0 86 GPIO_ACTIVE_HIGH>, /* MDC */
			<&main_gpio0 85 GPIO_ACTIVE_HIGH>; /* MDIO */
		#address-cells = <1>;
		#size-cells = <0>;

        cpsw3g_phy0: ethernet-phy@0 {
            reg = <0>;
			interrupt-parent = <&main_gpio0>;
			interrupts = <36 IRQ_TYPE_EDGE_FALLING>;
			reset-assert-us = <10000>;
			reset-deassert-us = <50000>;
			reset-gpios = <&main_gpio0 40 GPIO_ACTIVE_LOW>;
        };
	};

	transceiver1: can-phy0 {
		compatible = "ti,tcan1042";
		#phy-cells = <0>;
		max-bitrate = <5000000>;
	};

	transceiver2: can-phy1 {
		compatible = "ti,tcan1042";
		#phy-cells = <0>;
		max-bitrate = <5000000>;
	};

	transceiver3: can-phy2 {
		compatible = "ti,tcan1042";
		#phy-cells = <0>;
		max-bitrate = <5000000>;
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			bootph-all;
			gpios = <&mcu_gpio0 19 GPIO_ACTIVE_HIGH>;	//B9
			linux,default-trigger = "heartbeat";
			function = LED_FUNCTION_HEARTBEAT;
			default-state = "off";
		};

		led-1 {
			bootph-all;
			gpios = <&main_gpio0 20 GPIO_ACTIVE_HIGH>;	//A9
			linux,default-trigger = "disk-activity";
			function = LED_FUNCTION_DISK_ACTIVITY;
			default-state = "keep";
		};

		led-2 {
			bootph-all;
			gpios = <&main_gpio0 23 GPIO_ACTIVE_HIGH>;	//A12
			function = LED_FUNCTION_CPU;
		};

		led-3 {
			bootph-all;
			gpios = <&mcu_gpio0 12 GPIO_ACTIVE_HIGH>;	//A4
			function = LED_FUNCTION_LAN;
		};
	};
};

/*
 * CPU configuration 
 * Disable core2 and core3 for dual core devices
 * Disable Real Time Interrupt for core2 and core3 also
 */

&cluster0 {
	/delete-node/ core2;
	/delete-node/ core3;
};


&main_rti2 {
	status = "disabled";
};


&main_rti3 {
	status = "disabled";
};

/*
 * 
 */

&main_pmx0 {
	dss0_pins_default: dss0-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0100, PIN_OUTPUT, 0) /* (AC25) VOUT0_VSYNC */
			AM62X_IOPAD(0x00f8, PIN_OUTPUT, 0) /* (AB24) VOUT0_HSYNC */
			AM62X_IOPAD(0x0104, PIN_OUTPUT, 0) /* (AC24) VOUT0_PCLK */
			AM62X_IOPAD(0x00fc, PIN_OUTPUT, 0) /* (Y20) VOUT0_DE */
			/* BLUE */
			AM62X_IOPAD(0x00b8, PIN_OUTPUT, 0) /* (U22) VOUT0_DATA0 */
			AM62X_IOPAD(0x00bc, PIN_OUTPUT, 0) /* (V24) VOUT0_DATA1 */
			AM62X_IOPAD(0x00c0, PIN_OUTPUT, 0) /* (W25) VOUT0_DATA2 */
			AM62X_IOPAD(0x00c4, PIN_OUTPUT, 0) /* (W24) VOUT0_DATA3 */
			AM62X_IOPAD(0x00c8, PIN_OUTPUT, 0) /* (Y25) VOUT0_DATA4 */
			AM62X_IOPAD(0x00cc, PIN_OUTPUT, 0) /* (Y24) VOUT0_DATA5 */
			AM62X_IOPAD(0x00d0, PIN_OUTPUT, 0) /* (Y23) VOUT0_DATA6 */
			AM62X_IOPAD(0x00d4, PIN_OUTPUT, 0) /* (AA25) VOUT0_DATA7 */
			/* GREEN */
			AM62X_IOPAD(0x00d8, PIN_OUTPUT, 0) /* (V21) VOUT0_DATA8 */
			AM62X_IOPAD(0x00dc, PIN_OUTPUT, 0) /* (W21) VOUT0_DATA9 */
			AM62X_IOPAD(0x00e0, PIN_OUTPUT, 0) /* (V20) VOUT0_DATA10 */
			AM62X_IOPAD(0x00e4, PIN_OUTPUT, 0) /* (AA23) VOUT0_DATA11 */
			AM62X_IOPAD(0x00e8, PIN_OUTPUT, 0) /* (AB25) VOUT0_DATA12 */
			AM62X_IOPAD(0x00ec, PIN_OUTPUT, 0) /* (AA24) VOUT0_DATA13 */
			AM62X_IOPAD(0x00f0, PIN_OUTPUT, 0) /* (Y22) VOUT0_DATA14 */
			AM62X_IOPAD(0x00f4, PIN_OUTPUT, 0) /* (AA21) VOUT0_DATA15 */
			/*RED*/
			AM62X_IOPAD(0x005c, PIN_OUTPUT, 1) /* (R24) GPMC0_AD8.VOUT0_DATA16 */
			AM62X_IOPAD(0x0060, PIN_OUTPUT, 1) /* (R25) GPMC0_AD9.VOUT0_DATA17 */
			AM62X_IOPAD(0x0064, PIN_OUTPUT, 1) /* (T25) GPMC0_AD10.VOUT0_DATA18 */
			AM62X_IOPAD(0x0068, PIN_OUTPUT, 1) /* (R21) GPMC0_AD11.VOUT0_DATA19 */
			AM62X_IOPAD(0x006c, PIN_OUTPUT, 1) /* (T22) GPMC0_AD12.VOUT0_DATA20 */
			AM62X_IOPAD(0x0070, PIN_OUTPUT, 1) /* (T24) GPMC0_AD13.VOUT0_DATA21 */
			AM62X_IOPAD(0x0074, PIN_OUTPUT, 1) /* (U25) GPMC0_AD14.VOUT0_DATA22 */
			AM62X_IOPAD(0x0078, PIN_OUTPUT, 1) /* (U24) GPMC0_AD15.VOUT0_DATA23 */
		>;
	};

	gpio0_pins_default: gpio0-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0030, PIN_OUTPUT_PULLUP, 7) /* (G21) OSPI0_CSn1.GPIO0_12 */ /* NOR_PWR_EN */		
			AM62X_IOPAD(0x0004, PIN_INPUT, 7) /* (G25) OSPI0_LBCLKO.GPIO0_1 */	/* BAR_IRQ */		
			AM62X_IOPAD(0x0008, PIN_INPUT, 7) /* (J24) OSPI0_DQS.GPIO0_2 */	/* GYRO_IRQ */		

			AM62X_IOPAD(0x007c, PIN_OUTPUT_PULLDOWN, 7) /* (P25) GPMC0_CLK.GPIO0_31 */ /* SWITCH_CTRL */
		>;
	};

	gpio1_pins_default: gpio1-pins-default {
		pinctrl-single,pins = <
			/*Needed for boot... debug required MNM*/
			// AM62X_IOPAD(0x1a0, PIN_OUTPUT_PULLDOWN, 7)	/* (E18) MCASP0_AXR0.GPIO1_10*/  
			AM62X_IOPAD(0x0180, PIN_OUTPUT_PULLDOWN, 7)	/* (AD23) RGMII2_RXC.GPIO1_2*/  
			AM62X_IOPAD(0x01c4, PIN_OUTPUT_PULLDOWN, 7)	/* (B14) SPI0_D1.GPIO1_19*/  
		>;
	};

	vdd_sd_dv_pins_default: vdd-sd-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0244, PIN_OUTPUT, 7) /* (C17) MMC1_SDWP.GPIO1_49 */
		>;
	};

	local_i2c0_pins_default: local-i2c0-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01e0, PIN_INPUT_PULLUP, 0) /* (B16) I2C0_SCL */
			AM62X_IOPAD(0x01e4, PIN_INPUT_PULLUP, 0) /* (A16) I2C0_SDA */
		>;
	};

	local_i2c1_pins_default: local-i2c1-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01e8, PIN_INPUT, 0) /* (B17) I2C1_SCL */
			AM62X_IOPAD(0x01ec, PIN_INPUT, 0) /* (A17) I2C1_SDA */
		>;
	};

	local_i2c2_pins_default: local-i2c2-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x00b0, PIN_INPUT_PULLUP, 1) /* (K22) GPMC0_CSn2.I2C2_SCL */
			AM62X_IOPAD(0x00b4, PIN_INPUT_PULLUP, 1) /* (K24) GPMC0_CSn3.I2C2_SDA */
		>;
	};

	mdio0_pins_default: mdio0-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0160, PIN_OUTPUT, 7) /* (AD24) MDIO0_MDC.GPIO0_86 */
			AM62X_IOPAD(0x015c, PIN_INPUT, 7) /* (AB22) MDIO0_MDIO.GPIO0_85 */
		>;
	};

	rgmii1_pins_default: rgmii1-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x014c, PIN_INPUT, 0) /* (AB17) RGMII1_RD0 */
			AM62X_IOPAD(0x0150, PIN_INPUT, 0) /* (AC17) RGMII1_RD1 */
			AM62X_IOPAD(0x0154, PIN_INPUT, 0) /* (AB16) RGMII1_RD2 */
			AM62X_IOPAD(0x0158, PIN_INPUT, 0) /* (AA15) RGMII1_RD3 */
			AM62X_IOPAD(0x0148, PIN_INPUT, 0) /* (AD17) RGMII1_RXC */
			AM62X_IOPAD(0x0144, PIN_INPUT, 0) /* (AE17) RGMII1_RX_CTL */
			AM62X_IOPAD(0x0134, PIN_OUTPUT, 0) /* (AE20) RGMII1_TD0 */
			AM62X_IOPAD(0x0138, PIN_OUTPUT, 0) /* (AD20) RGMII1_TD1 */
			AM62X_IOPAD(0x013c, PIN_OUTPUT, 0) /* (AE18) RGMII1_TD2 */
			AM62X_IOPAD(0x0140, PIN_OUTPUT, 0) /* (AD18) RGMII1_TD3 */
			AM62X_IOPAD(0x0130, PIN_OUTPUT, 0) /* (AE19) RGMII1_TXC */
			AM62X_IOPAD(0x012c, PIN_OUTPUT, 0) /* (AD19) RGMII1_TX_CTL */
			AM62X_IOPAD(0x0094, PIN_INPUT, 7) /* (N20) GPMC0_DIR.GPIO0_36 */
			AM62X_IOPAD(0x00a4, PIN_OUTPUT, 7) /* (M22) GPMC0_DIR.GPIO0_40 */

		>;
	};

	ospi0_pins_default: ospi0-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0000, PIN_OUTPUT, 0) /* (H24) OSPI0_CLK */
			AM62X_IOPAD(0x002c, PIN_OUTPUT, 0) /* (F23) OSPI0_CSn0 */
			AM62X_IOPAD(0x000c, PIN_INPUT, 0) /* (E25) OSPI0_D0 */
			AM62X_IOPAD(0x0010, PIN_INPUT, 0) /* (G24) OSPI0_D1 */
			AM62X_IOPAD(0x0014, PIN_INPUT, 0) /* (F25) OSPI0_D2 */
			AM62X_IOPAD(0x0018, PIN_INPUT, 0) /* (F24) OSPI0_D3 */
			
			// AM62X_IOPAD(0x01c, PIN_INPUT, 0) /* (J23) OSPI0_D4 */
			// AM62X_IOPAD(0x020, PIN_INPUT, 0) /* (J25) OSPI0_D5 */
			// AM62X_IOPAD(0x024, PIN_INPUT, 0) /* (H25) OSPI0_D6 */
			// AM62X_IOPAD(0x028, PIN_INPUT, 0) /* (J22) OSPI0_D7 */
		>;
	};


	spi_gpio_default_pins: spi-gpio-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x000, PIN_OUTPUT, 7) /* (H24) OSPI0_CLK */
			AM62X_IOPAD(0x02c, PIN_OUTPUT, 7) /* (F23) OSPI0_CSn0 */
			AM62X_IOPAD(0x00c, PIN_OUTPUT, 7) /* (E25) OSPI0_D0 MOSI*/
			AM62X_IOPAD(0x010, PIN_INPUT, 7) /* (G24) OSPI0_D1 MISO*/
		>;
	};

	emmc_pins_default: emmc-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0220, PIN_INPUT, 0) /* (Y3) MMC0_CMD */
			AM62X_IOPAD(0x0218, PIN_INPUT, 0) /* (AB1) MMC0_CLK */
			AM62X_IOPAD(0x0214, PIN_INPUT, 0) /* (AA2) MMC0_DAT0 */
			AM62X_IOPAD(0x0210, PIN_INPUT, 0) /* (AA1) MMC0_DAT1 */
			AM62X_IOPAD(0x020c, PIN_INPUT, 0) /* (AA3) MMC0_DAT2 */
			AM62X_IOPAD(0x0208, PIN_INPUT, 0) /* (Y4) MMC0_DAT3 */
			AM62X_IOPAD(0x0204, PIN_INPUT, 0) /* (AB2) MMC0_DAT4 */
			AM62X_IOPAD(0x0200, PIN_INPUT, 0) /* (AC1) MMC0_DAT5 */
			AM62X_IOPAD(0x01fc, PIN_INPUT, 0) /* (AD2) MMC0_DAT6 */
			AM62X_IOPAD(0x01f8, PIN_INPUT, 0) /* (AC2) MMC0_DAT7 */
		>;
	};

	// vdd_3v3_sd_pins_default: vdd-3v3-sd-pins-default {
	// 	pinctrl-single,pins = <
	// 		AM62X_IOPAD(0x01c4, PIN_INPUT, 7) /* (B14) SPI0_D1_GPIO1_19 */
	// 	>;
	// };

	sd_pins_default: sd-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x023c, PIN_INPUT, 0) /* (A21) MMC1_CMD */
			AM62X_IOPAD(0x0234, PIN_INPUT, 0) /* (B22) MMC1_CLK */
			AM62X_IOPAD(0x0230, PIN_INPUT, 0) /* (A22) MMC1_DAT0 */
			AM62X_IOPAD(0x022c, PIN_INPUT, 0) /* (B21) MMC1_DAT1 */
			AM62X_IOPAD(0x0228, PIN_INPUT, 0) /* (C21) MMC1_DAT2 */
			AM62X_IOPAD(0x0224, PIN_INPUT, 0) /* (D22) MMC1_DAT3 */
			AM62X_IOPAD(0x0240, PIN_INPUT, 7) /* (D17) MMC1_SDCD.GPIO1_48 */
		>;
	};

	lcd_pwm_backlight_pins_default: lcd-pwm-backlight-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01b4, PIN_OUTPUT, 2) /* (A13) EHRPWM0_A */
			AM62X_IOPAD(0x01b8, PIN_OUTPUT, 2) /* (C13) EHRPWM0_B */
		>;
	};

	console_pins_default: console-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01c8, PIN_INPUT, 0) /* (D14) UART0_RXD */
			AM62X_IOPAD(0x01cc, PIN_OUTPUT, 0) /* (E14) UART0_TXD */
		>;
	};

	usb0_pins_default: usb0-pins-default {
		pinctrl-single,pins = <
			//AM62X_IOPAD(0x0254, PIN_INPUT, 0) /* (C20) USB0_DRVVBUS */
		>;
	};

	usb1_pins_default: usb1-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0258, PIN_INPUT, 0) /* (F18) USB1_DRVVBUS */
		>;
	};

	pmic_irq_pins_default: pmic-irq-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01f4, PIN_INPUT_PULLUP, 0) /* (D16) EXTINTn */
		>;
	};

	main_mcan0_pins_default: main-mcan0-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x1dc, PIN_INPUT, 0) /* (E15) MCAN0_RX */
			AM62X_IOPAD(0x1d8, PIN_OUTPUT, 0) /* (C15) MCAN0_TX */
		>;
	};

	main_spi0_pins_default: main-spi0-pins-default {
		pinctrl-single,pins = <
			// AM62X_IOPAD(0x01bc, PIN_INPUT_PULLUP, 0) /* (A14) SPI0_CLK */
			// AM62X_IOPAD(0x01c0, PIN_INPUT_PULLUP, 0) /* (B13) SPI0_D0 */
			// AM62X_IOPAD(0x01c4, PIN_INPUT_PULLUP, 0) /* (B14) SPI0_D1 */
			// AM62X_IOPAD(0x01b4, PIN_INPUT_PULLUP, 0) /* (A13) SPI0_CS0 */
		>;
	};

	main_spi1_pins_default: main-spi1-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x001c, PIN_INPUT_PULLUP, 1) /* (J23) SPI1_CS0 */
			AM62X_IOPAD(0x0020, PIN_INPUT_PULLUP, 1) /* (J25) SPI1_CLK */
			AM62X_IOPAD(0x0024, PIN_INPUT_PULLUP, 1) /* (H25) SPI1_D0 */
			AM62X_IOPAD(0x0028, PIN_INPUT_PULLUP, 1) /* (J22) SPI1_D1 */ 
		>;
	};

	main_spi2_pins_default: main-spi2-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01b0, PIN_INPUT_PULLUP, 0) /* (A20) SPI2_CLK */
			AM62X_IOPAD(0x0194, PIN_INPUT_PULLUP, 0) /* (B19) SPI2_D0 */
			AM62X_IOPAD(0x0198, PIN_INPUT_PULLUP, 0) /* (A19) SPI2_D1 */
			AM62X_IOPAD(0x01ac, PIN_INPUT_PULLUP, 0) /* (E19) SPI2_CS0 */
		>;
	};

	mspm0_nrst_pins_default: mspm0-nrst-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0254, PIN_INPUT, 7) /* (C20) USB0_DRVVBUS.GPIO1_50 */
		>;
	};	
};

&mcu_pmx0 {
	mspm0_bsl_pins_default: mspm0-bsl-default-pins {
		pinctrl-single,pins = <
			AM62X_MCU_IOPAD(0x0048, PIN_INPUT, 7) /* (D10) MCU_I2C0_SDA.MCU_GPIO0_18 */
		>;
	};

	mcu_gpio0_pins_default: mcu-gpio0-pins-default {
		pinctrl-single,pins = <
			AM62X_MCU_IOPAD(0x004c, PIN_INPUT, 7) /* (B9) WKUP_I2C0_SCL.MCU_GPIO0_19 */
			AM62X_MCU_IOPAD(0x0050, PIN_INPUT, 7) /* (A9) WKUP_I2C0_SDA.MCU_GPIO0_20 */
			AM62X_MCU_IOPAD(0x004c, PIN_INPUT, 7) /* (A12) WKUP_CLKOUT0.MCU_GPIO0_23 */
                        AM62X_MCU_IOPAD(0x0030, PIN_INPUT, 7) /* (A4) WKUP_UART0_RTSn.MCU_GPIO0_12 */
		>;
	};

	i2c_qwiic_pins_default: i2c-qwiic-pins-default {
		pinctrl-single,pins = <
			AM62X_MCU_IOPAD(0x0044, PIN_INPUT, 0) /* (A8) MCU_I2C0_SCL */
			AM62X_MCU_IOPAD(0x0048, PIN_INPUT, 0) /* (D10) MCU_I2C0_SDA */
		>;
	};

	adc_spi_pins_default: adc-spi-pins-default {
		pinctrl-single,pins = <
			AM62X_MCU_IOPAD(0x001c, PIN_INPUT, 3) /* (A6) MCU_UART0_CTSn.MCU_SPI1_D0 */
			AM62X_MCU_IOPAD(0x0020, PIN_INPUT, 3) /* (B6) MCU_UART0_RTSn.MCU_SPI1_D1 */
		>;
	};

	gbe_pmx_obsclk: gbe-pmx-clk-default {
		pinctrl-single,pins = <
			/* 25MHz on MCU_OBSCLK0 -unmodified board has strap option to be changed to enable this */
			AM62X_MCU_IOPAD(0x0004, PIN_OUTPUT, 1) /* (B8) MCU_SPI0_CS1.MCU_OBSCLK0 */
		>;
	};

	i2c_csi_pins_default: i2c-csi-pins-default {
		pinctrl-single,pins = <
		>;
	};

	mcu_mcan0_pins_default: mcu-mcan0-pins-default {
		pinctrl-single,pins = <
			AM62X_MCU_IOPAD(0x038, PIN_INPUT, 0) /* (B3) MCU_MCAN0_RX */
			AM62X_MCU_IOPAD(0x034, PIN_OUTPUT, 0) /* (D6) MCU_MCAN0_TX */
		>;
	};

	mcu_mcan1_pins_default: mcu-mcan1-pins-default {
		pinctrl-single,pins = <
			AM62X_MCU_IOPAD(0x040, PIN_INPUT, 0) /* (D4) MCU_MCAN1_RX */
			AM62X_MCU_IOPAD(0x03C, PIN_OUTPUT, 0) /* (E5) MCU_MCAN1_TX */
		>;
	};
};

&a53_opp_table {
	/* Requires VDD_CORE to be at 0.85V */
	opp-1400000000 {
		opp-hz = /bits/ 64 <1400000000>;
		opp-supported-hw = <0x01 0x0004>;
	};
};

/* cbass_main */
/* cbass_wkup */

&wkup_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c_csi_pins_default>;
	/* Bump Up to 400KHz if module allows - 100KHz default */
	clock-frequency = <10000>;
	/* Enable with overlay for camera sensor */
	symlink = "play/csi/i2c";
	status = "disabled";
};

&mcu_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c_qwiic_pins_default>;
	/* Bump Up to 400 if desired */
	clock-frequency = <10000>;
	symlink = "play/qwiic/i2c";
};

&mcu_spi0 {
	status = "disabled";
};

&mcu_spi1 {
	status = "disabled";
};

&mcu_rti0 {
      /* Tightly coupled to M4F */
      status = "disabled";
};

&mcu_m4fss {
	mboxes = <&mailbox0_cluster0 &mbox_m4_0>;
	memory-region = <&mcu_m4fss_dma_memory_region>,
			<&mcu_m4fss_memory_region>;
};

// &fss {
// 	status = "disabled";
// };

// &crypto {
// 	status = "disabled";
// };

&mailbox0_cluster0 {
	mbox_m4_0: mbox-m4-0 {
		ti,mbox-rx = <0 0 0>;
		ti,mbox-tx = <1 0 0>;
	};
};

&usbss0 {
	ti,vbus-divider;
	status = "okay";
};

&usb0 {
	dr_mode = "host";
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_pins_default>;
};

&usbss1 {
	ti,vbus-divider;
	status = "okay";
};

&usb1 {
	dr_mode = "host";
	pinctrl-names = "default";
	pinctrl-0 = <&usb1_pins_default>;
};

&cpsw3g {
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii1_pins_default>;
	assigned-clocks = <&k3_clks 157 70>, <&k3_clks 157 20>;
	assigned-clock-parents = <&k3_clks 157 72>, <&k3_clks 157 22>;
};

&cpsw_port1 {
	phy-mode = "rgmii-rxid";
	phy-handle = <&cpsw3g_phy0>;
};

&cpsw_port2 {
	status = "disabled";
};

&cpsw3g_mdio {
	/* Workaround for errata i2329 - Use mdio bitbang */
	status = "disabled";
};

&ospi0 {
    compatible = "ti,am654-ospi", "cdns,qspi-nor";
    pinctrl-0 = <&ospi0_pins_default>;
    reg = <0x00 0x0fc40000 0x00 0x100>,
          <0x05 0x00000000 0x01 0x2000000>;
    interrupts = <GIC_SPI 139 IRQ_TYPE_LEVEL_HIGH>;
    cdns,fifo-depth = <256>;
    cdns,fifo-width = <4>;
    cdns,trigger-address = <0x0>;
    clocks = <&k3_clks 75 7>;
    assigned-clocks = <&k3_clks 75 7>;
    assigned-clock-parents = <&k3_clks 75 8>;
    assigned-clock-rates = <166666666>;
    power-domains = <&k3_pds 75 TI_SCI_PD_EXCLUSIVE>;
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-names = "default", "sleep";
    status = "okay";
	// spidev@0 {
	// 	reg = <0>;
	// 	compatible = "spidev";
	// 	spi-tx-bus-width = <1>;
	// 	spi-rx-bus-width = <1>;
	// 	cdns,tshsl-ns = <60>;
	// 	cdns,tsd2d-ns = <60>;
	// 	cdns,tchsh-ns = <60>;
	// 	cdns,tslch-ns = <60>;
	// 	cdns,read-delay = <4>;
	// 	cdns,phy-mode;
		
	// 	// create symlink (using /etc/udev/rules.d/10-of-symlink.rules)
	// 	// NOTE: again, consider using something more descriptive
	// 	symlink = "spi/0.0";  // create /dev/spi/0.0 symlink

	// 	// XXX replace by actual max frequency supported by device
	// 	spi-max-frequency = <2000000>;

	// 	// XXX this selects SPI mode 3 by default, adjust as appropriate
	// 	// spi-cpol;
	// 	// spi-cpha;
	// };

	flash@0 {
        compatible = "jedec,spi-nor";
        reg = <0x0>;
        page-size =<255>;
        spi-max-frequency = <25000000>;
        spi-rx-bus-width = <1>;
        spi-tx-bus-width = <1>;
        spi-3wire;
        cdns,tshsl-ns = <60>;
        cdns,tsd2d-ns = <60>;
        cdns,tchsh-ns = <60>;
        cdns,tslch-ns = <60>;

	// 	// partitions {
	// 	// 	compatible = "fixed-partitions";
	// 	// 	#address-cells = <1>;
	// 	// 	#size-cells = <1>;

	// 	// 	partition@0 {
	// 	// 		label = "ospi.tiboot3";
	// 	// 		reg = <0x0 0x80000>;
	// 	// 	};

	// 	// 	partition@80000 {
	// 	// 		label = "ospi.tispl";
	// 	// 		reg = <0x80000 0x200000>;
	// 	// 	};

	// 	// 	partition@280000 {
	// 	// 		label = "ospi.u-boot";
	// 	// 		reg = <0x280000 0x400000>;
	// 	// 	};

	// 	// 	partition@680000 {
	// 	// 		label = "ospi.env";
	// 	// 		reg = <0x680000 0x40000>;
	// 	// 	};

	// 	// 	partition@6c0000 {
	// 	// 		label = "ospi.env.backup";
	// 	// 		reg = <0x6c0000 0x40000>;
	// 	// 	};
	// 	// };
	};	
};

&main_gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio0_pins_default>;
	gpio-line-names = "BAR_IRQ", "GYRO_IRQ", "", "", "", "", "", "",	/* 0-7 */
		"", "", "", "", "NOR_PWR_EN", "", "",			/* 8-14 */
		"", "", "", "", "", "", "",		/* 15-21 */
		"", "",	/* 22-23 */
		"", "",	/* 24-25 */
		"", "", "", "", "", "SW_CTL", "", "", "", "", "", "",	/* 26-37 */
		"", "", "", "", "", "", "", "", "", "",		/* 38-47 */
		"", "", "", "";			/* 48-51 */
};

&main_gpio1 {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio1_pins_default>;
	gpio-line-names = "", "", "", "", "", "", "", "",	/* 0-7 */
		"", "", "", "", "", "", "",			/* 8-14 */
		"", "", "", "", "", "", "",		/* 15-21 */
		"", "",	/* 22-23 */
		"", "",	/* 24-25 */
		"", "", "", "", "", "", "", "", "", "", "", "",	/* 26-37 */
		"", "", "", "", "", "", "", "", "", "",		/* 38-47 */
		"", "", "", "";			/* 48-51 */
};

&mcu_gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mcu_gpio0_pins_default>;	
	gpio-line-names = "", "", "", "",			/* 0-3 */
		"", "", "", "",					/* 4-7 */
		"", "", "", "",					/* 8-11 */
		"USR3", "", "", "",					/* 12-15 */
		"", "", "", "USR0",	/* 16-19 */
		"USR1", "", "", "USR2";					/* 20-23 */
};

&main_i2c0 {
	bootph-all;
	pinctrl-names = "default";
	pinctrl-0 = <&local_i2c0_pins_default>;
	clock-frequency = <400000>;
	status = "okay";

	mspm0l1105: mspm0l1105@48 {
		compatible = "ti,mspm0l1105";
		reg = <0x48>;
		bootloader-backdoor-gpios = <&mcu_gpio0 1 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&main_gpio1 50 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mspm0_bsl_pins_default &mspm0_nrst_pins_default>;
	};

	eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
	};

	lps22hp: barometer@5c {
		compatible = "st,lps22hb-press";
		reg = <0x5c>;
		interrupt-parent = <&main_gpio0>;
		interrupts = <1 IRQ_TYPE_EDGE_RISING>;        
	};

	lsm6d: lsm6dsm@6a {
		compatible = "st,lsm6dsr";
		reg = <0x6a>;
		interrupt-parent = <&main_gpio0>;
		interrupts = <2 IRQ_TYPE_EDGE_RISING>;
	};

	tps65219: pmic@30 {
		bootph-all;
		compatible = "ti,tps65219";
		reg = <0x30>;
		buck1-supply = <&vsys_5v0>;
		buck2-supply = <&vsys_5v0>;
		buck3-supply = <&vsys_5v0>;
		ldo1-supply = <&vdd_3v3>;
		ldo2-supply = <&buck2_reg>;
		ldo3-supply = <&vdd_3v3>;
		ldo4-supply = <&vdd_3v3>;

		pinctrl-names = "default";
		pinctrl-0 = <&pmic_irq_pins_default>;
		interrupt-parent = <&gic500>;
		interrupts = <GIC_SPI 224 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		#interrupt-cells = <2>;

		system-power-controller;
		wakeup-source;
		power-button;

		regulators {
			buck1_reg: buck1 {
				regulator-name = "VDD_CORE";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck2_reg: buck2 {
				regulator-name = "VDD_1V8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck3_reg: buck3 {
				regulator-name = "VDD_1V2";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1_reg: ldo1 {
				/*
				 * Regulator is left as is unused, vdd_sd
				 * is controlled via GPIO with bypass config
				 * as per the NVM configuration
				 */
				regulator-name = "VDD_SD_3V3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-allow-bypass;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2_reg: ldo2 {
				regulator-name = "VDDA_0V85";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo3_reg: ldo3 {
				regulator-name = "VDDA_1V8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4_reg: ldo4 {
				regulator-name = "VDD_2V5";
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <2500000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&main_i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&local_i2c1_pins_default>;
	clock-frequency = <400000>;
	status = "okay";
};

&main_i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&local_i2c2_pins_default>;
	clock-frequency = <10000>;
	status = "okay";
};

&mcasp0 {
	status = "disabled";
};

&mcasp1 {
	status = "disabled";
};

&mcasp2 {
	status = "disabled";
};

&dss {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&dss0_pins_default>;
};

&dss_ports {
	#address-cells = <1>;
	#size-cells = <0>;
};

&sdhci0 {
//	bootph-all;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins_default>;
//	ti,driver-strength-ohm = <50>;
//	disable-wp;
	status = "okay";
	// status = "disabled";
};

&sdhci1 {
	/* SD/MMC */
//	bootph-all;
	pinctrl-names = "default";
	pinctrl-0 = <&sd_pins_default>;

	vmmc-supply = <&vdd_3v3_sd>;
	vqmmc-supply = <&vdd_sd_dv>;
	ti,driver-strength-ohm = <50>;
	disable-wp;
	cd-gpios = <&main_gpio1 48 GPIO_ACTIVE_LOW>;
	cd-debounce-delay-ms = <100>;
	ti,fails-without-test-cd;
	status = "okay";
};

&sdhci2 {
	status = "disabled";
};

&epwm0{
	status = "disabled";
};

&epwm1 {
	status = "disabled";
};

&epwm2 {
	status = "disabled";
};

&main_uart0 {
	bootph-all;
	pinctrl-names = "default";
	pinctrl-0 = <&console_pins_default>;
	status = "okay";
};

&main_uart1 {
	/* Main UART1 is used by TIFS firmware */
	status = "reserved";
};

&main_uart2 {
	status = "disabled";
};

&main_uart3 {
	status = "disabled";
};

&main_uart4 {
	status = "disabled";
};

&main_uart5 {
	status = "disabled";
};

&main_uart6 {
	status = "disabled";
};

&main_spi0 {
	status = "disabled";
};

&main_spi2 {
	status = "disabled";
	// status = "okay";
	// pinctrl-names = "default";
	// pinctrl-0 = <&main_spi2_pins_default>;
	// #address-cells = <1>;
	// #size-cells= <0>;
	// ti,spi-num-cs = <1>;
	// cs-gpios = <0>;

	// 	/* add any spi devices connected here */
	// 	adc@0 {
	// 		compatible = "adi,max11320";
	// 		spi-max-frequency = <8000000>;
	// 		reg = <0>;

	// 		#address-cells = <1>;
	// 		#size-cells = <0>;

	// 		spi-cpha;
	// 		spi-cpol;

	// 		channel_group_name = "Voltage_ADC";

	// 		channel@7 {
	// 			reg = <0>;
	// 			adi,reference = <3>;
	// 			adi,input-mode = <0>;					
	// 		};

	// 		channel@6 {
	// 			reg = <1>;
	// 			adi,reference = <3>;
	// 			adi,input-mode = <0>;					
	// 		};

	// 		channel@5 {
	// 			reg = <2>;
	// 			adi,reference = <3>;
	// 			adi,input-mode = <0>;					
	// 		};

	// 		channel@4 {
	// 			reg = <3>;
	// 			adi,reference = <3>;
	// 			adi,input-mode = <0>;					
	// 		};

	// 		channel@3 {
	// 			reg = <4>;
	// 			adi,reference = <3>;
	// 			adi,input-mode = <0>;					
	// 		};

	// 		channel@2 {
	// 			reg = <5>;
	// 			adi,reference = <3>;
	// 			adi,input-mode = <0>;					
	// 		};

	// 		channel@1 {
	// 			reg = <6>;
	// 			adi,reference = <3>;
	// 			adi,input-mode = <0>;					
	// 		};

	// 		channel@0 {
	// 			reg = <7>;
	// 			adi,reference = <3>;
	// 			adi,input-mode = <0>;					
	// 		};
	// 	};

};

&dphy0 {
       status = "disabled";
};

&ti_csi2rx0 {
      status = "disabled";
};

&main_mcan0 {
      status = "disabled";
};

&mcu_mcan0 {
      status = "disabled";
};

&mcu_mcan1 {
      status = "disabled";
};
