// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2022 BeagleBoard.org - https://beagleboard.org/
 */

bone_i2c_1: &main_i2c6 {
	pinctrl-names = "default";
	pinctrl-0 = <
		&P9_18_i2c_pin /* i2c6_sda */
		&P9_17_i2c_pin /* i2c6_scl */
	>;
	clock-frequency = <100000>;

	symlink = "bone/i2c/1";
	status = "disabled";
};

bone_i2c_2: &main_i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <
		&P9_20_i2c_pin /* i2c2_sda */
		&P9_19_i2c_pin /* i2c2_scl */
	>;
	clock-frequency = <100000>;

	symlink = "bone/i2c/2";
	status = "disabled";
};

bone_i2c_3: &main_i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <
		&P9_26_i2c_pin /* i2c4_sda */
		&P9_24_i2c_pin /* i2c4_scl */
	>;
	clock-frequency = <100000>;

	symlink = "bone/i2c/3";
	status = "disabled";
};

bone_pwm_0: &main_ehrpwm1 {
	// location: /dev/bone/pwm/0
	pinctrl-names = "default";
	pinctrl-0 = <
		&P9_22_pwm_pin /* PWM A */
		&P9_21_pwm_pin /* PWM B */
	>;
	status = "disabled";
};

bone_pwm_1: &main_ehrpwm2 {
	// location: /dev/bone/pwm/1
	pinctrl-names = "default";
	pinctrl-0 = <
		&P9_14_pwm_pin /* PWM A */
		&P9_16_pwm_pin /* PWM B */
	>;
	status = "disabled";
};

bone_pwm_2: &main_ehrpwm0 {
	// location: /dev/bone/pwm/2
	pinctrl-names = "default";
	pinctrl-0 = <
		&P8_19_pwm_pin /* PWM A */
		&P8_13_pwm_pin /* PWM B */
	>;
	status = "disabled";
};

bone_uart_1: &main_uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <
		&P9_24_uart_pin /* uart2_txd */
		&P9_26_uart_pin /* uart2_rxd */
	>;
	symlink = "bone/uart/1";
	status = "disabled";
};
